body{
	background-image: url("./assets/goldengate.jpg");
}

.profile{
	width: 100px;
	border-radius: 200px;
	text-align: center;
	margin-top: 20px;
}

.description{
	text-align: center;
	margin: 10px;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 10px;
}

.title{
	text-align: center;
	color:#ffffff;
}

#navbar {
			background-color: transparent;
			border-bottom: none;
			font-family: 'Open Sans Condensed', sans-serif;	
			color: #cccccc;
			margin-right: 0px;
		    padding-right: 50px;
		    height: 100px;

}
li {		font-family: 'Quicksand', sans-serif;
			margin: 10px;
			padding-top: 20px;
			font-size: 24px;
			cursor: pointer;


}
h2 {
			font-family: 'Quicksand', sans-serif;
		}
#name{
		    font-family: 'Questrial', sans-serif;
		    font-size: 40px;
		}
    
